name: Deploy to EC2 via S3 and SSM

on:
  push:
    branches: [main]

env:
  AWS_REGION: ap-southeast-5  # 根据你的需要修改区域
  S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}

jobs:
  deploy-to-s3:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to S3
        run: |
          aws s3 sync . s3://${{ env.S3_BUCKET_NAME }} --exclude ".github/workflows/*" --delete

  deploy-to-ec2-via-ssm:
    runs-on: ubuntu-latest
    needs: deploy-to-s3
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Send SSM Run Command
        id: send-command
        run: |
          COMMAND_ID=$(aws ssm send-command \
            --instance-ids "i-0ca6efb1cf27fa86b" \
            --document-name "AWS-RunShellScript" \
            --parameters 'commands=["sudo /usr/local/bin/aws s3 sync s3://$S3_BUCKET_NAME /var/www/html --delete"]' \
            --output text --query "Command.CommandId")
          echo "Command ID: $COMMAND_ID"
          echo "COMMAND_ID=$COMMAND_ID" >> $GITHUB_OUTPUT

      - name: Wait for command execution
        run: sleep 15

      - name: Check command execution status
        run: |
          aws ssm get-command-invocation \
            --command-id "${{ steps.send-command.outputs.COMMAND_ID }}" \
            --instance-id "i-0ca6efb1cf27fa86b"
